body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.costumeAttr { 
  background-color: aquamarine; 
  width: 100%;
  height: 50px;
} 

.costumeAttrNew { 
  background-color:snow; 
  width: 100%;
  height: 50px;
} 

